
.page-template-splash-page-php #page-wrap{
  height: 882px;
}

.page-template-splash-page-php #header{
  width: 534px;
  height: 160px;
}

#menu-primary-navigation li a{
  padding: 9px 23px !important;  
}

.post{
  margin-top: 12px;
}